.home{
    background-color: var(--main-color);
    overflow: hidden;
}

.ListItem-enter {
    opacity: 0;
  }
  
  .ListItem-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-out;
  }