.page {
    background: url("https://png.pngtree.com/png-vector/20221027/ourmid/pngtree-black-background-with-red-glowing-low-poly-mesh-png-image_6396978.png");
    background-size: cover; // To ensure the background image covers the entire container
    background-repeat: no-repeat; // To prevent the background image from repeating
    background-position: center; // To center the background image
    height: 100vh; // Set the height of the .page to the viewport height

    .navbar {
        background-color: var(--main-color);
        color: white;
    }

    .watch {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh; // Set the height of the .watch to 70% of the viewport height

        .video {
            width: 70%;
            height: 100%; // Set the height of the video to 100% of the .watch container
            object-fit: cover; // To ensure the video fits inside the container without distortion
            margin-top: 30px;
        }
    }

    .information {
        margin-top: '0%'; // Add some top margin to separate the information from the video
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;

        .info {
            width: 25%;
            height: 150px;
            background-color: var(--main-color);
            border-radius: 20px;
            overflow: hidden;
            cursor: pointer;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            flex-direction: column;
            display: flex;
            padding: 20px 20px;
            font-size: 18px;
            transition: all 0.2s ease-in-out;
            margin-left: 0%;
        }
        .desc {
            width: 40%;
            height: 150px;
            background-color: var(--main-color);
            border-radius: 20px;
            overflow: hidden;
            cursor: pointer;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            flex-direction: column;
            display: flex;
            padding: 20px 20px;
            font-size: 18px;
            transition: all 0.2s ease-in-out;
            margin-left: 1%;
        }

    }
}